header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/


/*----------- HEADER --------------*/
header {
        h1 {
                font-size: 3rem;
        }
        h2 {
                font-size: 2rem;
        }
}

/*----------- NAVIGATION --------------*/
nav ul li {
        width: auto;
        a {
                font-size: 1.5rem;
        }
}

/*----------- MAIN --------------*/
main {
        @for $i from 1 through 12 {
                $w: ($i / 12) * 100%;
                .large-#{$i} {
                        flex-basis: $w;
                }
        }
}


/*----------- FOOTER --------------*/
footer i {
        font-size: 1.5rem;
    }