
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.4rem;
    }
}


/*----------- NAVIGATION --------------*/
nav ul {
    margin-left: 2%;
}
nav ul li {
    width: auto;
}
nav ul li:first-child a {
    border-left: 1px solid darken($elementColor, 10%);
}
nav ul li:last-child a {
    border-left: 1px solid darken($elementColor, 10%);
}
nav ul li a{
    padding: .5rem 1rem;
    font-size: 1rem;
}


/*----------- MAIN --------------*/
main {
    font-size: 1rem;
    h1 {
        font-size: 1.4rem;
    }
}
figure {
    width: 31%;
}


/*----------- FOOTER --------------*/
footer {
    font-size: 0.8rem;
}    
