header {
    background-color: #873e23;
    padding: 5px 0 0 25px;
    color: white;
    max-width: 1200px;
    margin-top: -8px;
    
}
body {
    background-color: burlywood;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}
ul {
    list-style-type: none;
    margin: 0 25px 10px 0;
    padding: 0;
    overflow: hidden;
    background-color: #410500;
    max-width: 1200px;
}
@media only screen and (max-width: 820px) {
    li {
        width: 152px;
    }
    li a {
        font-size: 20px;
    }
}
li {
    float: left;
    font-size: 30px;
} 
li a {
    display: block;
    text-align: center;
    padding: 6px 30px;
    text-decoration: none;
    background-color: #410500;
    color: beige;
}
li a:hover {
    background-color: burlywood;
    color: #410500;
    border-bottom: 3px solid #410500;
}
.main-header {
    color: #410500;
}
.intro-pic {
    float: left;
    display: block;
    margin-bottom: 60px;
}
.cookie-pic {
    width: 25%;
    float: right;
    display: block;
}
.intro {
    width: 75%;
    float: left;
}
main {
    padding: 0px 15px 0px 15px;
    line-height: 25px;
}
footer {
    background-color: #873e23;
    width: 100%;
    align-content: center;
    margin: 100px auto 0 auto;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 15px;
    max-width: 1200px;
}
@media only screen and (max-width: 1200px) {
    header {
        margin: -8px 1% 0 2%;
    }
    footer {
        margin: 100px auto 0 auto;
        width: 95%;
    }
}