header {
    background-color: #873e23;
    padding: 5px 0 0 25px;
    color: white;
    max-width: 1200px;
    margin-top: -8px;
}
body {
    background-color: burlywood;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}
@media only screen and (max-width: 574px) {
    li a {
        font-size: 18px;
    }
}
ul {
    list-style-type: none;
    margin-left: -30px;
    padding: 0 0 10px 0;
    padding-bottom: 10px;
    overflow: hidden;
    height: 122px;
}
li {
    font-size: 24px;
    flex-basis: 25%;
} 
li a {
    font-size: 24px;
    display: block;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
    background-color: #410500;
    color: beige;
}
li a:hover {
    background-color: burlywood;
    color: #410500;
}
.main-header {
    color: #410500;
}
.intro-pic {
    float: left;
    display: block;
    margin-bottom: 60px;
}
.cookie-pic {
    width: 100%;
    float: right;
    display: block;
}
.intro {
    width: 100%;
    float: left;
}
main {
    padding: 0px 15px 0px 15px;
    line-height: 25px;
}
footer {
    background-color: #873e23;
    width: 100%;
    align-content: center;
    margin: 100px auto 0 auto;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 15px;
    max-width: 1200px;
}