
div#pageWrapper {
        
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/
body {
        background-color: green;
}


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/


/*----------- FOOTER --------------*/
    
